html{
  background-color: black;
  color: white;
  font-size: 20px;
  }
h1{
  font-family: Libre Baskerville, serif;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
 }
p{
  text-align: center;
  font-size: 15px;
}
.Lil{
  border: solid yellow;
  width: 200px;height: 250px;
  display: block; /* Hace que la imagen sea un elemento de bloque */
  margin: auto; /* Centra la imagen horizontalmente */

}
.div{
  text-align: center;
}
